<!DOCTYPE html>
<html lang="en">
    
    <%- include('../admin-layouts/top-header') %>

    <body class="hold-transition fixed sidebar-mini">
        
        <!-- Preloader -->
        <div class="preloader"></div>
       
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../admin-layouts/header') %>
            <% if(error.length>0){ %>
                <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
                   
               
                <% } %>
            
                <% if(success.length>0){ %>
                    <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
                       
                   
                    <% } %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <div class="content">
                    <div class="row home1_analys">
                        <div class="col-md-3" >
                            <a href="/admin/scheme">
                                <div class="statistic-box " style="background-color: rgba(255 250 250) !important;">
                                    <div class=small>Total Properties</div>
                                    <% for (let l of ttlProduct)
                                    {
                                    var ttlProduct = l.product; 

                                    var ttpPrdt = ttlProduct * 100/1000;
                                    }  %>
                                    
                                    <h2><span class=count-number><%= ttlProduct; %> </span></h2>
                                    <div class="progress-radial blue">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value"><%= ttpPrdt; %>%</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3" >
                            <a href="/admin/scheme">
                                <div class="statistic-box " style="background-color: rgba(255 250 250) !important;">
                                    <div class=small>Total Brochure Sale</div>
                                    <h2><span class=count-number>1000</span></h2>
                                    <div class="progress-radial blue">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
            
            <div class="right_col" role="main">
                <!-- page content -->
                
					<div class="row">
            
        
          
                        <div class="col-sm-11">
							<div class="clearfix"></div>
                            <div class="panel panel-bd">
                                <!-- <div class="panel-heading">
                                    <div class="panel-title col-sm-6 mt-4" >
                                        <h4>Users List</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="/admin/cms/pages/add" class="pull-right btn btn-warning w-md m-rb-5">Add Pages</a>
                                    </div>
                                </div> -->
                            
                                <div class="panel-body">
                                  <fieldset class="the-fieldset">
                                    <legend class="the-legend">Property Type Wise Applications</legend>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                  <th>#</th>
                                                  <th>Type</th>
                                                  <th>Total Plots</th>
                                                  <th>Total Applications</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                      <tr id="rowid_">
                                                      
                                                      <td>1</td>
                                                      <td>HIG-I</td>
                                                     
                                                      <td> 160</td>
                                                      <td> 1000</td>

                                                    </tr>
                
                                                    <tr id="rowid_">
   
                                                        <td>2</td>
                                                        <td>HIG-II</td>
                                                       
                                                        <td> 152</td>
                                                        <td> 1500</td>
                                                      </tr>

                                                      <tr id="rowid_">
                                                        <td>3</td>
                                                        <td>MIG-III</td>
                                                        <td> 123</td>
                                                        <td> 900</td>
                                                      </tr>
                                                  
                                                    <tr id="rowid_">
                                                        <td>4</td>
                                                        <td>MIG-I</td>
                                                        <td> 163</td>
                                                        <td> 200</td>
                                                      </tr>
                                                  
                                                    <tr id="rowid_">
                                                        <td>5</td>
                                                        <td>LIG-II</td>
                                                        <td> 70</td>
                                                        <td> 500</td>
                                                      </tr>
                                                      
                                                      <tr id="rowid_">
                                                          <td>5</td>
                                                          <td>EWS</td>
                                                          <td> 96</td>
                                                          <td> 320</td>
                                                        </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                  </fieldset>
                                    <br>
                                </div>
                            </div>

                            </div>		
                            
                        </div>

                        <div class="right_col" role="main">
                            <!-- page content -->
                            
                                 <div class="row">
                        
                    
                      
                                    <div class="col-sm-11">
                                         <div class="clearfix"></div>
                                        <div class="panel panel-bd">
                                            <!-- <div class="panel-heading">
                                                <div class="panel-title col-sm-6 mt-4" >
                                                    <h4>Users List</h4>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="/admin/cms/pages/add" class="pull-right btn btn-warning w-md m-rb-5">Add Pages</a>
                                                </div>
                                            </div> -->
                                        
                                            <div class="panel-body">
                                              <fieldset class="the-fieldset">
                                                <legend class="the-legend">Reserved Category wise Applications Distribution</legend>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover table-bordered">
                                                            <thead>
                                                              <tr>
                                                                <th>Sr. No.</th>
                                                                <th>Type</th>
                                                                <th colspan="2" style="text-align: center;">General</th>
                                                                <th colspan="2" style="text-align: center;">SC</th>
                                                                <th colspan="2" style="text-align: center;">OBC</th>
                                                              </tr>
                                                              <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th>Total Available Plots</th>
                                                                <th>Total Application</th>
                                                                <th>Total Available Plots</th>
                                                                <th>Total Application</th>
                                                                <th>Total Available Plots</th>
                                                                <th>Total Application</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <td>1</td>
                                                                <td>Type 1</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                              </tr>
                                                              <tr>
                                                                <td>2</td>
                                                                <td>Type 2</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                              </tr>
                                                              <!-- Additional rows can be added as needed -->
                                                            </tbody>
                                                          </table>
                                                          

                                                </div>
                                              </fieldset>
                                                <br>
                                            </div>
                                        </div>
                                        </div>		
                                        
                                    </div>
                                </div>
                    
                </div>
        </div>
        
            <!-- footer content -->
				<%- include('../admin-layouts/footer') %>
			<!-- /footer content -->
        </div> <!-- ./wrapper -->
    </body>

</html>