<!DOCTYPE html>
<html lang="en">
    
    <%- include('../../admin-layouts/top-header') %>
   
    <body class="hold-transition fixed sidebar-mini">
        <!-- Preloader -->
        <div class="preloader"></div>
		
        <div class="wrapper">
            <%- include('../../admin-layouts/header') %>
            
            <div class="content-wrapper">
				 
            	<div class="right_col" role="main">
					<div class="row">
                        <div class="col-md-12">
							<div class="clearfix"></div>
                            <div class="panel panel-bd lobidrag">
                                
                                <div class="panel-body">
                                    <fieldset class="the-fieldset">
                                        <legend class="the-legend">CMS</legend>
                                      
                                        <form data-toggle="validator" method="post"  action="/admin/cms/cms/edit/<%= cms.id %>" style="padding-top: 23px">
                                            <div class="form-group">
                                                <label for="inputName" class="control-label">Meta Title</label>
                                                <input type="text" class="form-control" id="meta_title" name="meta_title" value="<%= cms.meta_title %>" placeholder="Enter Meta Title" required="">
                                            </div>
                                            <div class="help-block"></div>

                                            <div class="form-group">
                                                <label for="inputName" class="control-label">Meta Description</label>
                                                <textarea type="text" class="form-control" id="meta_description" name="meta_description" placeholder="Enter Meta Description" required=""><%= cms.meta_description %></textarea>
                                            </div>
                                            <div class="help-block"></div>

                                            <div class="form-group has-feedback">
                                                <label for="inputName" class="control-label">Title</label>
                                                 <input type="text" class="form-control" id="title" name="title" value="<%= cms.title %>" placeholder="Enter Title" required="">
                                            </div>
                                            <div class="help-block"></div>

                                            <div class="form-group">
                                                <label for="inputName" class="control-label">short_description</label>
                                                <input type="text" class="form-control" id="short_description" name="short_description" value="<%= cms.short_description %>" placeholder="Enter Short Description" required="">
                                            </div>
                                            <div class="help-block"></div>

                                            <div class="form-group">
                                                <label for="inputName" class="control-label">description</label>
                                                <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Description" required=""><%= cms.description %></textarea>
                                            </div>
                                            <div class="help-block"></div>

                                            <div class="form-group">
                                                <label for="status" class="control-label">Status</label>
                                                <div class="radio_inline">
                                                    <div class="radio">
                                                        <input type="radio" name="status" value="1" id="toast" <%= cms.status === 1 ? 'checked' : '' %> required="">
                                                        <label for="toast">Active</label>
                                                    </div>
                                                    <div class="radio">
                                                        <input type="radio" name="status" value="0" id="boost" <%= cms.status === 0 ? 'checked' : '' %> required="">
                                                        <label for="boost">Inactive</label>
                                                    </div>
                                                </div>
                                                   
                                                <div class="help-block"></div>
                                            </div>
                                           
                                            <div class="form-group pull-right">
                                                <button type="submit" class="btn btn-cap m-r-5">Submit</button>
                                                <a href="/admin/cms/cms" class="btn btn-warning">Cancel</a>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
							    		
                            </div>
                        </div>



                
                    </div>
				</div>
               
            </div>
				<%- include('../../admin-layouts/footer') %>
        </div>
    </body>

</html>