<!DOCTYPE html>
<html lang="zxx" class="theme-light">
    <%- include('../layouts/top-header') %>

<body data-spy="scroll" data-offset="70">

    <%- include('../layouts/header') %>


    <% if(error.length>0){ %>
        <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
           
       
        <% } %>
    
        <% if(success.length>0){ %>
            <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
               
           
            <% } %>
    
<div id="home" class="banner-buy-area">
<div class="container-fluid">
<div class="banner-buy-content">
    <div class="col-lg-12 col-md-12">
        <div class="get-address-form">
        <h3>User Login</h3>
        <form name="login" id="login" method="post" action="/login/OtpAuth" autocomplete="off">
        <div class="form-group">
        <label> Mobile no.</label>
        <input type="text" class="form-control" type="text" id="mobile" name="mobile"
        minlength="10" maxlength="10" placeholder="Enter Your 10-Digits Mobile Number"
        onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
        </div>
       
       

        <div class="loan-button">
        <button class="default-btn"  onclick="return validateLogin()">Send OTP</button>
        </div>
        <!-- <p class="mt-3 text-center">
            Don’t have an account? <a href="/registration" class="text-underline">Click here to sign up.</a>
         </p> -->
        </form>
        </div>
        </div>
</div>
<div class="row justify-content-center">
<!-- <div class="col-lg-3 col-sm-6"> -->
<!-- <div class="banner-buy-info-card"> -->
<!-- <div class="icon"> -->
<!-- <i class="bx bx-time"></i> -->
<!-- </div> -->
<!-- <p> -->
<!-- <span>Mon-Fri (8am - 6pm)</span> -->
<!-- <span>Sat-Sun (10am - 2pm)</span> -->
<!-- </p> -->
<!-- </div> -->
<!-- </div> -->
<div class="col-lg-4 col-sm-6">
<div class="banner-buy-info-card">
<div class="icon">
<i class="bx bxs-contact"></i>
</div>
<p>
<span>Contact us</span>
<span><a href="#"><span class="__cf_email__" data-cfemail="55262025253a27211525303b213a7b363a38">vcafda@gmail.com</span></a></span>
</p>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="banner-buy-info-card">
<div class="icon">
<i class="bx bx-phone-call"></i>
</div>
<p>
<span>(24 hours / 7 days)</span>
<span><a href="tel:4234543123678">+91-82872-80191</a></span>
</p>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="banner-buy-info-card">
<div class="icon">
<i class="bx bx-world"></i>
</div>
<p>
<span>Civil Lines, Parikrama Marg, Faizabad, Ayodhya - Phone : (05278) 223460
</span>
<span>India, Pin: 223969, Fax : 220110</span>
</p>
</div>
</div>
</div>
</div>
</div>
</body>
<%- include('../layouts/footer') %>

</html>

<script>

    function validateLogin() {
        var mobile = document.getElementById('mobile').value;

        if (mobile == '') {
            new Toasteur("top-right", 2000).error("Enter a valid mobile number", 'Error!');
            $('#mobile').focus();
            return false;
        }

        if (mobile.length > 10) {
            new Toasteur("top-right", 2000).error("Enter a valid mobile number", 'Error!');
            $('#mobile').focus();
            return false;
        }
        if (mobile.length < 10) {
            new Toasteur("top-right", 2000).error("Enter a valid mobile number", 'Error!');
            $('#mobile').focus();
            return false;
        }
        else {

            $("#login").submit();

            return true;
        }

    }

</script>