<!DOCTYPE html>
<html lang="en">
    
    <%- include('../../admin-layouts/top-header') %>
    <body class="hold-transition fixed sidebar-mini">
        <!-- Preloader -->
        <div class="preloader"></div>
		
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../admin-layouts/header') %>
            
            <div class="content-wrapper">
				 
				<!-- page content -->
            	<div class="right_col" role="main">
					<div class="row">
            <% if(error.length>0){ %>
              <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
           <% } %>
        
           <% if(success.length>0){ %>
              <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
           <% } %>
                        <div class="col-sm-12">
							<div class="clearfix"></div>
                            <div class="panel panel-bd lobidrag">
                                
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Tribe- ADA</legend>
                                            <dl>
                                              <dt>Tribe Name</dt>
                                              <dd><%= tribe[0].tribe_name %></dd>
                                              <dt>Tribe About</dt>
                                              <dd><%= tribe[0].about_tribe %></dd>
                                          </dl>
                                        </fieldset>
                                    </div>

                                    <div class="col-sm-2 mt">
                                      <%- include('../../admin-layouts/tribe-left-panel') %> 
                                    </div>

                                     <div class="col-sm-10 mt">
                                        <fieldset class="the-fieldset">
                                          <%
                                              tribe_name  = tribe[0].tribe_name? tribe[0].tribe_name : '';
                                              traditional       = tribe[0].traditional_dress ? tribe[0].traditional_dress : '';
                                              dresscostume   = tribe[0].dress_costume_description ? tribe[0].dress_costume_description : '';
                                              occasions    = tribe[0].occasions_event_associated ? tribe[0].occasions_event_associated : ''; 
                                              materials       = tribe[0].materials_used ? tribe[0].materials_used : '';
                                              symbolism    = tribe[0].symbolism_colours_patterns ? tribe[0].symbolism_colours_patterns : '';
                                              region      = tribe[0].region_cultural_origin ? tribe[0].region_cultural_origin : '';
                                              historical  = tribe[0].historical_religious_significance ? tribe[0].historical_religious_significance : '';
                                            %>
                                            <legend class="the-legend">Tribe - > Folk Traditional Costumes/Dresses</legend>
                                            <form data-toggle="validator" method="post" name="add_folk_traditinal"  id="addFolkTraditinal" enctype="multipart/form-data"  action="/admin/tribe/master/traditions/costumes/<%=tribeId%>/<%=costumesId%>">
                                                <div class="col-sm-4">
                                                  <label class="form-label required">Tribe(s) :</label>
                                                  <select class="form-control form-select"  name="tribe_name" id="tribeName">
                                                    <option value="<%= tribe[0].tribe_id %>"><%= tribe[0].tribe_name %></option>
                                                    </select>
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Traditional Type:</label>
                                                    <input class="form-control" type="text" name="traditional_type" id="traditional_type" value="<%=traditional%>" placeholder="Enter Traditional Type">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Description:</label>
                                                    <input class="form-control" name="description" id="description" value="<%=dresscostume%>" placeholder="Enter Description Of Costumes/Dresses">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Occasions:</label>
                                                    <input class="form-control" type="text" name="occasions" id="occasions" value="<%=occasions%>" placeholder="Enter Occasions Or Event">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Material</label>
                                                    <input class="form-control" type="text" name="material" id="material" value="<%=materials%>" placeholder="Enter Material Used">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Symbolism</label>
                                                    <input class="form-control" type="text" name="symbolism" id="symbolism" value="<%=symbolism%>" placeholder="Enter Symbolism Of Colour Patterns">
                                                  </div>
                                                 
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Region:</label>
                                                    <input class="form-control" type="text" name="region" id="region" value="<%=region%>" placeholder="Enter Region Or Cultual Origin">
                                                  </div>
                                                 
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Historical:</label>
                                                    <input class="form-control" type="text" name="historical" id="historical" value="<%=historical%>" placeholder="Enter Historical/religious Context and Significance">
                                                  </div>
                                                
                                                  <div class="col-sm-4">
                                                    <label for="status" class="control-label">Is Folk</label>
                                                    <div class="radio_inline">
                                                        <div class="radio">
                                                            <input type="radio" name="is_folk" value="1" id="toast" required="" checked>
                                                            <label for="toast">Yes</label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" name="is_folk" value="0" id="boost" required="">
                                                            <label for="boost">No</label>
                                                        </div>
                                                    </div>
                                                  </div>
                                                  
                                                    <div class="form-group pull-right pt-2 mt">
                                                        <button type="submit" class="btn btn-cap m-r-5" onclick =" return Validate();">Submit</button>
                                                        <button type="submit" class="btn btn-warning">Cancel</button>
                                                    </div>
                                            </form>
                                        </fieldset>
                                        <div class="mt"> 
                                          <fieldset class="the-fieldset">
                                            <legend class="the-legend">Tribe - > Folk Traditional Costumes/Dresses List</legend>
                                          <div class="table-responsive">
                                            <table id="myTable" class="table card-table table-vcenter text-nowrap datatable">
                                              <thead>
                                                <tr>
                                                  <th>S No.</th>
                                                  <th>Tribe Name</th>
                                                  <th>Traditional Type</th>
                                                  <th>Description</th>
                                                  <th>Occasions</th>
                                                  <th>Material</th>
                                                  <th>Symbolism</th>
                                                  <th>Region</th>
                                                  <th>Historical</th>
                                                 
                                                  <th>Image</th>
                                                  <th>Music</th>
                                                  <th>Video</th>
                                                  <th>Action</th>

                                                </tr>
                                              </thead>
                                              <tbody>
                                                  <%  if(costumes.length>0)
                                                  { 
                                                    var number= 1;
                                                    var del = '';
                                                    for (let l of costumes)
                                                      { %>
                                                        
                                                        <tr>
                                                          <td><%= number %></td>
                                                          <td><%= l.tribe_name %></td>
                                                          <td><%= l.traditional_dress %></td>
                                                          <td><%= l.dress_costume_description %></td>
                                                          <td><%= l.occasions_event_associated %></td>
                                                          <td><%= l.materials_used %></td>
                                                          <td><%= l.symbolism_colours_patterns %></td>
                                                          <td><%= l.region_cultural_origin %></td>
                                                          <td><%= l.historical_religious_significance %></td>
                                                          <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.dress_id %>"><span class="label label-pill label-info-outline m-r-15"><%= l.image %></span></a></td>
                                                        <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.dress_id %>"><span class="label label-pill label-warning-outline m-r-15"><%= l.audio %></span></a></td>
                                                        <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.dress_id %>"><span class="label label-pill label-danger-outline m-r-15"><%= l.video %></span></a></td>
                                                        <td>
                                                          <a href="/admin/tribe/master/traditions/costumes/<%= l.tribe_id %>/<%= l.dress_id %>" class="btn btn-xs btn-success" aria-label=""  title="Edit Item">
                                                            <i class="fa fa-edit"></i>
                                                          </a>
                                                          <a onclick="return checkConfirm('<%= l.dress_id  %>')"  class="btn btn-xs btn-danger" aria-label="" title="Delete Item">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                        </td>
                                                         
                                                        </tr>
                  
                                                      <% number++; } 
                                                  }  %>
                                               
                                              </tbody>
                                            </table>
                                          </div>
                                        </fieldset>
                                         
                                       </div>
           
                                     </div>
                                     
                                </div>
							    		
                            </div>
                        </div>
                    </div>
				</div>
				<!-- /page content -->
               
            </div>
            <!-- footer content -->
				<%- include('../../admin-layouts/footer') %>
			<!-- /footer content -->
        </div> <!-- ./wrapper -->
    </body>

    <script type="text/javascript">
 
      function Validate()
      {
        var error = '';
        var tribeName = $('#tribeName').val();
        var traditional_type = $('#traditional_type').val();
        var description = $('#description').val();
        var occasions = $('#occasions').val();
        var material = $('#material').val();
        var symbolism = $("#symbolism").val();
        var region = $('#region').val();
        var historical = $('#historical').val();

        if(tribeName == '' || tribeName == null)
        {
          error+='Tribe Name Name is required\n';
        }
        if(traditional_type == '' || traditional_type == null)
        {
          error+='Traditional Type is required\n';
        }
        if(description == '' || description == null)
        {
          error+='Description is required\n';
        }
        if(occasions == '' || occasions == null)
        {
          error+='Occasions is required\n';
        }
        if(material == '' || material == null)
        {
          error+='Material is required\n';
        }
        if(symbolism == '' || symbolism == null)
        {
          error+='Symbolism is required\n';
        }
        if(region == '' || region == null)
        {
          error+='Region is required\n';
        }
        if(social == '' || social == null)
        {
          error+='Social is required\n';
        }
        if(historical == '' || historical == null)
        {
          error+='Historical is required\n';
        }
        
        if(error != '')
        {
         swal({
          title: "Error",
          text: ""+error,
          type: "error",
          showCancelButton: true,
          confirmButtonClass: 'btn-danger',
        });
       }
       else
       {
         $('#addFolkMusic').submit();
       }
     }
  </script>   

</html>