<!DOCTYPE html>
<html lang="en">
    
    <%- include('../../admin-layouts/top-header') %>
    <body class="hold-transition fixed sidebar-mini">
        <!-- Preloader -->
        <div class="preloader"></div>
		
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../admin-layouts/header') %>
            
            <div class="content-wrapper">
				 
				<!-- page content -->
            	<div class="right_col" role="main">
					<div class="row">
            <% if(error.length>0){ %>
              <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
           <% } %>
        
           <% if(success.length>0){ %>
              <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
           <% } %>
                        <div class="col-sm-12">
							<div class="clearfix"></div>
                            <div class="panel panel-bd lobidrag">
                                
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Tribe- ADA</legend>
                                            <dl>
                                              <dt>Tribe Name</dt>
                                              <dd><%= tribe[0].tribe_name %></dd>
                                              <dt>Tribe About</dt>
                                              <dd><%= tribe[0].about_tribe %></dd>
                                          </dl>
                                        </fieldset>
                                    </div>

                                    <div class="col-sm-2 mt">
                                      <%- include('../../admin-layouts/tribe-left-panel') %> 
                                    </div>

                                     <div class="col-sm-10 mt">
                                        <fieldset class="the-fieldset">
                                          <%
                                         
                                            tribe_name  = tribe[0].tribe_name? tribe[0].tribe_name : '';
                                            name       = tribe[0].handicraft_name ? tribe[0].handicraft_name : '';
                                            material   = tribe[0].material_used ? tribe[0].material_used : '';
                                            purpose    = tribe[0].purpose_function ? tribe[0].purpose_function : ''; 
                                            technique       = tribe[0].technique ? tribe[0].technique : '';
                                            region      = tribe[0].region_cultural_origin ? tribe[0].region_cultural_origin : '';
                                            historical  = tribe[0].historical_religious_significance ? tribe[0].historical_religious_significance : '';
                                          %>
                                            <legend class="the-legend">Tribe - > Script</legend>
                                            <form data-toggle="validator"method="post" name="add_handicrafts"  id="addhandicrafts"   enctype="multipart/form-data"  action="/admin/tribe/master/traditions/handicrafts/<%=tribeId%>/<%=handicraftsId%>">
                                                <div class="col-sm-4">
                                                   
                                                    <label class="form-label required">Tribe(s) :</label>
                                                  <select class="form-control form-select"  name="tribe_name" id="tribeName">
                                                    <option value="<%= tribe[0].tribe_id %>"><%= tribe[0].tribe_name %></option>
                                                  </select>
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Handicraft Name:</label>
                                                    <input class="form-control" type="text" name="handicraft_name" id="handicraft_name" value="<%=name%>" placeholder="Enter Handicraft Name">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Material Used:</label>
                                                    <input class="form-control" type="text" name="material_used" id="material_used" value="<%=material%>" placeholder="Enter Material Used">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Purpose Function:</label>
                                                    <input class="form-control" type="text" name="purpose_function" id="purpose_function" value="<%=purpose%>" placeholder="Enter Purpose Function">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Technique:</label>
                                                    <input class="form-control" type="text" name="technique" id="technique" value="<%=technique%>" placeholder="Enter Technique">
                                                  </div>
                                                  
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Region Cultural Origin:</label>
                                                    <input class="form-control" type="text" name="region_cultural_origin" id="region_cultural_origin" value="<%=region%>" placeholder="Enter Region Cultural Origin">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Historical Religious Significance</label>
                                                    <input class="form-control" type="text" name="historical_religious_significance" id="historical_religious_significance" value="<%=historical%>" placeholder="Enter Historical Religious Significance">
                                                  </div>
                                                 
                                                  <div class="col-sm-4">
                                                    <label for="status" class="control-label">Is Folk</label>
                                                    <div class="radio_inline">
                                                        <div class="radio">
                                                            <input type="radio" name="is_folk" value="1" id="toast" required="" checked>
                                                            <label for="toast">Yes</label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" name="is_folk" value="0" id="boost" required="">
                                                            <label for="boost">No</label>
                                                        </div>
                                                    </div>
                                                  </div>
                                                <div class="form-group pull-right mt">
                                                    <button type="submit" class="btn btn-cap m-r-5" onclick="return Validate();">Submit</button>
                                                    <button type="submit" class="btn btn-warning">Cancel</button>
                                                </div>
                                            </form>
                                        </fieldset>
                                        <div class="mt"> 
                                            <fieldset class="the-fieldset">
                                              <legend class="the-legend">Tribe - > Languages List</legend>
                                            <div class="table-responsive">
                                              <table id="myTable" class="table card-table table-vcenter text-nowrap datatable">
                                                <thead>
                                                  <tr>
                                                    <th>S No.</th>
                                                    <th>Tribe Name</th>
                                                    <th>Handicraft Name</th>
                                                    <th>Material Used</th>
                                                    <th>Purpose Function</th>
                                                    <th>Technique</th>
                                                    <th>Region Cultural Origin</th>
                                                    <th>Historical Religious Significance</th>
                                                    <th>Image</th>
                                                    <th>Music</th>
                                                    <th>Video</th>
                                                    <th>Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <%  if(handicrafts.length>0)
                                                    { 
                                                      var number= 1;
                                                      var del = '';
                                                      for (let l of handicrafts)
                                                        { %>
                                                           
                                                          <tr>
                                                            <td><%= number %></td>
                                                            <td><%= l.tribe_name %></td>
                                                            <td><%= l.handicraft_name %></td>
                                                            <td><%= l.material_used %></td>
                                                            <td><%= l.purpose_function %></td>
                                                            <td><%= l.technique %></td>
                                                            <td><%= l.region_cultural_origin %></td>
                                                            <td><%= l.historical_religious_significance %></td>
                                                            <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.handicrafts_id %>/image"><span class="label label-pill label-info-outline m-r-15"><%= l.image %></span></a></td>
                                                            <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.handicrafts_id %>/audio"><span class="label label-pill label-warning-outline m-r-15"><%= l.audio %></span></a></td>
                                                            <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.handicrafts_id %>/video"><span class="label label-pill label-danger-outline m-r-15"><%= l.video %></span></a></td>
                                                            <td>
                                                              <a href="/admin/tribe/master/traditions/handicrafts/<%= l.tribe_id %>/<%= l.handicrafts_id %>" class="btn btn-xs btn-success" aria-label=""  title="Edit Item">
                                                                <i class="fa fa-edit"></i>
                                                              </a>
                                                              <a onclick="return checkConfirm('<%= l.handicrafts_id  %>')"  class="btn btn-xs btn-danger" aria-label="" title="Delete Item">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                            </td>
                                                          </tr>
                    
                                                        <% number++; } 
                                                    }  %>
                                                 
                                                </tbody>
                                              </table>
                                              
                                            </div>
                                          </fieldset>
                                         </div>
                                     </div>
                                     
                                </div>
							    		
                            </div>
                        </div>
                    </div>
				</div>
				<!-- /page content -->
               
            </div>
            <!-- footer content -->
				<%- include('../../admin-layouts/footer') %>
			<!-- /footer content -->
        </div> <!-- ./wrapper -->
    </body>
    <script type="text/javascript">
        function Validate() {
          var error = '';
          var tribeName = $('#tribeName').val();
          var handicraft_name = $('#handicraft_name').val();
          var author = $('#author').val();
          var purpose_function = $('#purpose_function').val();
          var technique = $('#technique').val();
          var region_cultural_origin = $("#region_cultural_origin").val();
          var historical_religious_significance = $('#historical_religious_significance').val();

          
          if (tribeName == '' || tribeName == null) {
            error += 'Tribe Name is required\n';
          }
          if (handicraft_name == '' || handicraft_name == null) {
            error += 'Handicraft Name is required\n';
          }
          if (material_used == '' || material_used == null) {
            error += 'Material Used is required\n';
          }
          if (purpose_function == '' || purpose_function == null) {
            error += 'Purpose Function is required\n';
          }
          if (technique == '' || technique == null) {
            error += 'Technique is required\n';
          }
          if (region_cultural_origin == '' || region_cultural_origin == null) {
            error += 'Region Cultural Origin is required\n';
          }
        
          if (historical_religious_significance == '' || historical_religious_significance == null) {
            error += 'Historical Religious Significance is required\n';
          }
         
      
          if (error != '') {
            swal({
              title: "Error",
              text: "" + error,
              type: "error",
              showCancelButton: true,
              confirmButtonClass: 'btn-danger',
            });
          } else {
            document.forms["add_handicrafts"].submit();
          }
        }

  function checkConfirm(id) {
    
    var rowId  = id;
    var y = confirm('Are you sure');
    if(y)
    {
        $.ajax({
        type: 'get', // Type of request to be send, called as method
        url: '/admin/tribe/master/traditionsDelete/handicrafts/'+rowId, //  Url to which the request is send
        dataType: 'json',
        success: function (responce) { // A function to be called if request succeeds.
          if(responce == 1){
              new Toasteur("top-right", 3000).success("Selected row Deleted Suceesfully", 'Success');
              $("#rowid_"+rowId).hide();
              setTimeout(function(){
                  window.location.reload(1);
              }, 3000);
          }else{
              new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
              setTimeout(function(){
                  window.location.reload(1);
              }, 3000);
          }
          }
        });
    }

}             
      </script>

</html>