<!DOCTYPE html>
<html lang="en">
    
    <%- include('../../admin-layouts/top-header') %>
    <body class="hold-transition fixed sidebar-mini">
        <!-- Preloader -->
        <div class="preloader"></div>
		
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../admin-layouts/header') %>
            
            <div class="content-wrapper">
				 
				<!-- page content -->
            	<div class="right_col" role="main">
					<div class="row">
            <% if(error.length>0){ %>
              <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
           <% } %>
        
           <% if(success.length>0){ %>
              <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
           <% } %>
                        <div class="col-sm-12">
							<div class="clearfix"></div>
                            <div class="panel panel-bd lobidrag">
                                
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Tribe- ADA</legend>
                                              <dl>
                                                <dt>Tribe Name</dt>
                                                <dd><%= tribe[0].tribe_name %></dd>
                                                <dt>Tribe About</dt>
                                                <dd><%= tribe[0].about_tribe %></dd>
                                              </dl>
                                        </fieldset>
                                    </div>

                                    <div class="col-sm-2 mt">
                                      <%- include('../../admin-layouts/tribe-left-panel') %> 
                                    </div>

                                     <div class="col-sm-10 mt">
                                        <fieldset class="the-fieldset">
                                          <%
                                            tribe_name               = tribe[0].tribe_name? tribe[0].tribe_name : '';
                                            title                    = tribe[0].tale_title ? tribe[0].tale_title : '';
                                            variations               = tribe[0].variations ? tribe[0].variations : '';
                                            plotsummary              = tribe[0].plot_summary ? tribe[0].plot_summary : ''; 
                                            charactersinvolved       = tribe[0].characters_involved ? tribe[0].characters_involved : '';
                                            storyteller              = tribe[0].storyteller ? tribe[0].storyteller : '';
                                            region                   = tribe[0].region_cultural_origin ? tribe[0].region_cultural_origin : '';
                                            moral                    = tribe[0].moral ? tribe[0].moral : '';
                                            historical               = tribe[0].historical_religious_significance ? tribe[0].historical_religious_significance : '';
                                          %>
                                            <legend class="the-legend">Tribe - > Folk Tales</legend>
                                            <form  data-toggle="validator" method="post" name="add_folk_tales"  id="addFolkTales"   enctype="multipart/form-data"  action="/admin/tribe/master/traditions/tales/<%=tribeId%>/<%=talesId%>">
                                              <div class="col-sm-4">
                                                <label class="form-label required">Tribe(s) :</label>
                                                <select class="form-control form-select"  name="tribe_name" id="tribeName">
                                                  <option value="<%= tribe[0].tribe_id %>"><%= tribe[0].tribe_name %></option>
                                                </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="form-label required">Title:</label>
                                                    <input class="form-control" type="text" name="title" id="title" value="<%=title%>" placeholder="Enter Title">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Variation:</label>
                                                    <input class="form-control" name="variation" id="variation" value="<%=variations%>" placeholder="Enter Variation">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Plot summary:</label>
                                                    <input class="form-control" type="text" name="plot_summary" id="plot_summary" value="<%=plotsummary%>" placeholder="Enter Plot summary">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Character:</label>
                                                    <input class="form-control" type="text" name="character" id="character" value="<%=charactersinvolved%>" placeholder="Enter Character">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Storyteller:</label>
                                                    <input class="form-control" type="text" name="storyteller" id="storyteller" value="<%=storyteller%>" placeholder="Enter Storyteller">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Region:</label>
                                                    <input class="form-control" type="text" name="region" id="region" value="<%=region%>" placeholder="Enter Region Or Cultual Origin">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Moral:</label>
                                                    <input class="form-control" type="text" name="moral" id="moral" value="<%=moral%>" placeholder="Enter Moral">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label class="form-label required">Historical:</label>
                                                    <input class="form-control" type="text" name="historical" id="historical" value="<%=historical%>" placeholder="Enter Historical/religious Context and Significance">
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <label for="status" class="control-label">Is Folk</label>
                                                    <div class="radio_inline">
                                                        <div class="radio">
                                                            <input type="radio" name="is_folk" value="1" id="toast" required="" checked>
                                                            <label for="toast">Yes</label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" name="is_folk" value="0" id="boost" required="">
                                                            <label for="boost">No</label>
                                                        </div>
                                                    </div>
                                                  </div>
                                                <div class="form-group pull-right mt">
                                                    <button type="submit" class="btn btn-cap m-r-5" onclick =" return Validate();">Submit</button>
                                                    <button type="submit" class="btn btn-warning">Cancel</button>
                                                </div>
                                            </form>
                                        </fieldset>
                                        <div class="mt"> 
                                          <fieldset class="the-fieldset">
                                            <legend class="the-legend">Tribe - > Folk Tales List</legend>
                                          <div class="table-responsive">
                                            <table id="myTable" class="table card-table table-vcenter text-nowrap datatable">
                                              <thead>
                                                <tr>
                                                  <th>S No.</th>
                                                  <th>Tribe Name</th>
                                                  <th>Title</th>
                                                  <th>Variation</th>
                                                  <th>Plot Summary</th>
                                                  <th>Character</th>
                                                  <th>Storyteller</th>
                                                  <th>Region</th>
                                                  <th>Moral</th>
                                                  <th>Historical</th>
                                                  <th>Image</th>
                                                  <th>Music</th>
                                                  <th>Video</th>
                                                  <th>Action</th>
                                    
                                                </tr>
                                              </thead>
                                              <tbody>
                                                  <%  if(tales.length>0)
                                                  { 
                                                    var number= 1;
                                                    var del = '';
                                                    for (let l of tales)
                                                      { %>
                                                        <tr>
                                                          
                                                          <td><%= number %></td>
                                                          <td><%= l.tribe_name %></td>
                                                          <td><%= l.tale_title %></td>
                                                          <td><%= l.variations %></td>
                                                          <td><%= l.plot_summary %></td>
                                                          <td><%= l.characters_involved %></td>
                                                          <td><%= l.storyteller %></td>
                                                          <td><%= l.region_cultural_origin %></td>
                                                          <td><%= l.moral %></td>
                                                          <td><%= l.historical_religious_significance %></td>
                                                          <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.tales_id %>/image"><span class="label label-pill label-info-outline m-r-15"><%= l.image %></span></a></td>
                                                          <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.tales_id %>/audio"><span class="label label-pill label-warning-outline m-r-15"><%= l.audio %></span></a></td>
                                                          <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.tales_id %>/video"><span class="label label-pill label-danger-outline m-r-15"><%= l.video %></span></a></td>
                                                          <td>
                                                            <a href="/admin/tribe/master/traditions/tales/<%= l.tribe_id %>/<%= l.tales_id %>" class="btn btn-xs btn-success" aria-label=""  title="Edit Item">
                                                              <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a onclick="return checkConfirm('<%= l.tales_id  %>')"  class="btn btn-xs btn-danger" aria-label="" title="Delete Item">
                                                              <i class="fa fa-trash"></i>
                                                          </a>
                                                          </td>
                                                        </tr>
                  
                                                      <% number++; } 
                                                  }  %>
                                               
                                              </tbody>
                                            </table>
                                          </div>
                                        </fieldset>
                                     </div>
                                     </div>
                                     
                                </div>
							    		
                            </div>
                        </div>
                    </div>
				</div>
				<!-- /page content -->
               
            </div>
            <!-- footer content -->
				<%- include('../../admin-layouts/footer') %>
			<!-- /footer content -->
        </div> <!-- ./wrapper -->
    </body>
    <script type="text/javascript">
 
      function Validate()
      {
        
        var error = '';
        var tribeName    = $('#tribeName').val();
        var title        = $('#title').val();
        var variation    = $('#variation').val();
        var plot_summary = $('#plot_summary').val();
        var character    = $('#character').val();
        var storyteller  = $("#storyteller").val();
        var region       = $('#region').val();
        var moral        = $('#moral').val();
        var historical   = $('#historical').val();

        if(tribeName == '' || tribeName == null)
        {
          error+='Tribe Name Name is required\n';
        }
        if(title == '' || title == null)
        {
          error+='Title Name is required\n';
        }
        if(variation == '' || variation == null)
        {
          error+='Variation is required\n';
        }
        if(plot_summary == '' || plot_summary == null)
        {
          error+='Plot summary is required\n';
        }
        if(character == '' || character == null)
        {
          error+='Character summary is required\n';
        }
        if(storyteller == '' || storyteller == null)
        {
          error+='Storyteller is required\n';
        }
        if(region == '' || region == null)
        {
          error+='Region is required\n';
        }
        if(moral == '' || moral == null)
        {
          error+='Moral is required\n';
        } 
        if(historical == '' || historical == null)
        {
          error+='Historical is required\n';
        }
        
        if(error != '')
        {
         swal({
          title: "Error",
          text: ""+error,
          type: "error",
          showCancelButton: true,
          confirmButtonClass: 'btn-danger',
        });
       }
       else
       {
         $('#addFolkTales').submit();
       }
     }
     
function checkConfirm(id) {
    
    var rowId  = id;
    var y = confirm('Are you sure');
    if(y)
    {
        $.ajax({
        type: 'get', // Type of request to be send, called as method
        url: '/admin/tribe/master/traditionsDelete/tales/'+rowId, //  Url to which the request is send
        dataType: 'json',
        success: function (responce) { // A function to be called if request succeeds.
          if(responce == 1){
              new Toasteur("top-right", 3000).success("Selected row Deleted Suceesfully", 'Success');
              $("#rowid_"+rowId).hide();
              setTimeout(function(){
                  window.location.reload(1);
              }, 3000);
          }else{
              new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
              setTimeout(function(){
                  window.location.reload(1);
              }, 3000);
          }
          }
        });
    }

}       
  </script>


</html>