<!DOCTYPE html>
<html lang="en">
    
    <%- include('../../admin-layouts/top-header') %>
    <body class="hold-transition fixed sidebar-mini">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../admin-layouts/header') %>
            
            <div class="content-wrapper">
				 
				<!-- page content -->
            	<div class="right_col" role="main">
					<div class="row">
            <% if(error.length>0){ %>
              <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
           <% } %>
        
           <% if(success.length>0){ %>
              <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
           <% } %>
                        <div class="col-sm-12">
							<div class="clearfix"></div>
                            <div class="panel panel-bd lobidrag">
                                
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <fieldset class="the-fieldset">
                                            <legend class="the-legend">Tribe- ADA</legend>
                                            <dl>
                                                <dt>Tribe Name</dt>
                                                <dd><%= tribe[0].tribe_name %></dd>
                                                <dt>Tribe About</dt>
                                                <dd><%= tribe[0].about_tribe %></dd>
                                            </dl>
                                        </fieldset>
                                    </div>

                                     <div class="col-sm-2 mt">
                                      <%- include('../../admin-layouts/tribe-left-panel') %> 
                                    </div>
                                     <div class="col-sm-10 mt">
                                        <fieldset class="the-fieldset">
                                          <%
                                          
                                            tribe_name  = tribe[0].tribe_name? tribe[0].tribe_name : '';
                                            title       = tribe[0].music_title ? tribe[0].music_title : '';
                                            variation   = tribe[0].variation ? tribe[0].variation : '';
                                            composer    = tribe[0].artist_compose_id ? tribe[0].artist_compose_id : ''; 
                                            genre       = tribe[0].genre ? tribe[0].genre : '';
                                            duration    = tribe[0].duration ? tribe[0].duration : '';
                                            instrument  = tribe[0].instruments_used ? tribe[0].instruments_used : '';
                                            region      = tribe[0].region_cultural_origin ? tribe[0].region_cultural_origin : '';
                                            social      = tribe[0].social_cultural_significance? tribe[0].social_cultural_significance : '';
                                            historical  = tribe[0].historical_religious_significance ? tribe[0].historical_religious_significance : '';
                                          %>

                                            <legend class="the-legend">Tribe - > Folk Music</legend>
                                              <form data-toggle="validator" method="post" name="add_folk_music"  id="addFolkMusic" enctype="multipart/form-data"  action="/admin/tribe/master/traditions/music/<%=tribeId%>/<%=musicId%>">
                                                <div class="col-sm-4">
                                                  <label class="form-label required">Tribe(s) :</label>
                                                  <select class="form-control form-select"  name="tribe_name" id="tribeName">
                                                    <option value="<%= tribe[0].tribe_id %>"><%= tribe[0].tribe_name %></option>
                                                  </select>
                                                </div>
                                                
                                                <div class="col-sm-4">
                                                  <label class="form-label required">Title:</label>
                                                  <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" value="<%=title%>" required>
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Variation:</label>
                                                  <input class="form-control" name="variation" id="variation" placeholder="Enter Variation" value="<%=variation%>" required>
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Composer:</label>
                                                  <input class="form-control" type="text" name="composer" id="composer" placeholder="Enter Composer" value="<%=composer%>" required>
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Genre</label>
                                                  <input class="form-control" type="text" name="genre" id="genre" placeholder="Enter Genre" value="<%=genre%>">
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Duration</label>
                                                  <input class="form-control" type="text" name="duration" id="duration" placeholder="Enter Duration" value="<%=duration%>">
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Instrument:</label>
                                                  <input class="form-control" type="text" name="instrument" id="instrument" placeholder="Enter Instrument" value="<%=instrument%>">
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Region:</label>
                                                  <input class="form-control" type="text" name="region" id="region" placeholder="Enter Region Or Cultual Origin" value="<%=region%>">
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Social:</label>
                                                  <input class="form-control" type="text" name="social" id="social" placeholder="Enter Social Or Cultural Significance" value="<%=social%>">
                                                </div>

                                                <div class="col-sm-4">
                                                  <label class="form-label required">Historical:</label>
                                                  <input class="form-control" type="text" name="historical" id="historical" placeholder="Enter Historical/religious Context and Significance" value="<%=historical%>">
                                                </div>

                                                <div class="col-sm-4">
                                                  <label for="status" class="control-label">Is Folk</label>
                                                  <div class="radio_inline">
                                                      <div class="radio">
                                                          <input type="radio" name="is_folk" value="1" id="toast" required="" checked>
                                                          <label for="toast">Yes</label>
                                                      </div>
                                                      <div class="radio">
                                                          <input type="radio" name="is_folk" value="0" id="boost" required="">
                                                          <label for="boost">No</label>
                                                      </div>
                                                  </div>
                                                </div>
                                                  
                                                <div class="form-group pull-right pt-2 mt">
                                                    <button type="submit" class="btn btn-cap m-r-5" onclick =" return Validate();">Submit</button>
                                                    <button type="submit" class="btn btn-warning">Cancel</button>
                                                </div>
                                            </form>
                                        </fieldset>
                                       <div class="mt"> 
                                        <fieldset class="the-fieldset">
                                          <legend class="the-legend">Tribe - > Folk Music List</legend>
                                        <div class="table-responsive">
                                          <table id="myTable" class="table card-table table-vcenter text-nowrap datatable">
                                            <thead>
                                              <tr>
                                                <th>S No.</th>
                                                <th>Tribe Name</th>
                                                <th>Music Title</th>
                                                <th>Variation</th>
                                                <th>Composer</th>
                                                <th>Genre</th>
                                                <th>Duration</th>
                                                <th>Instrument</th>
                                                <th>Region</th>
                                                <th>Image</th>
                                                <th>Music</th>
                                                <th>Video</th>
                                                <th>Action</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <%  if(music.length>0)
                                                { 
                                                  var number= 1;
                                                  var del = '';
                                                  for (let l of music)
                                                    { %>
                                                      <tr>
                                                        <td><%= number %></td>
                                                        <td><%= l.tribe_name %></td>
                                                        <td><%= l.music_title %></td>
                                                        <td><%= l.variation %></td>
                                                        <td><%= l.artist_compose_id %></td>
                                                        <td><%= l.genre %></td>
                                                        <td><%= l.duration %></td>
                                                        <td><%= l.instruments_used %></td>
                                                        <td><%= l.region_cultural_origin %></td>
                                                        <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.music_id %>/image"><span class="label label-pill label-info-outline m-r-15"><%= l.image %></span></a></td>
                                                        <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.music_id %>/audio"><span class="label label-pill label-warning-outline m-r-15"><%= l.audio %></span></a></td>
                                                        <td><a href="/admin/tribe/master/folk-media/<%= categoryType %>/<%= l.tribe_id %>/<%= l.music_id %>/video"><span class="label label-pill label-danger-outline m-r-15"><%= l.video %></span></a></td>
                                                        <td>
                                                          <a href="/admin/tribe/master/traditions/music/<%= l.tribe_id %>/<%= l.music_id %>" class="btn btn-xs btn-success" aria-label=""  title="Edit Item">
                                                            <i class="fa fa-edit"></i>
                                                          </a>
                                                          <a onclick="return checkConfirm('<%= l.music_id  %>')"  class="btn btn-xs btn-danger" aria-label="" title="Delete Item">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                        </td>
                                                      </tr>
                
                                                    <% number++; } 
                                                }  %>
                                             
                                            </tbody>
                                          </table>
                                        </div>
                                      </fieldset>
                                        
                                        
                                     </div>
                                     </div>
                                     
                                </div>
							    		
                            </div>
                        </div>
                    </div>
				</div>
				<!-- /page content -->
               
            </div>
            <!-- footer content -->
				<%- include('../../admin-layouts/footer') %>
			<!-- /footer content -->
        </div> <!-- ./wrapper -->
    </body>
    <script type="text/javascript">
 
      function Validate()
      {
        var error = '';
        var tribeName = $('#tribeName').val();
        var title = $('#title').val();
        var variation = $('#variation').val();
        var composer = $('#composer').val();
        var genre = $('#genre').val();
        var duration = $("#duration").val();
        var instrument = $('#instrument').val();
        var region = $('#region').val();
        var social = $('#social').val();
        var historical = $('#historical').val();

        if(tribeName == '' || tribeName == null)
        {
          error+='Tribe Name Name is required\n';
        }
        if(title == '' || title == null)
        {
          error+='Title Name is required\n';
        }
        if(variation == '' || variation == null)
        {
          error+='Variation is required\n';
        }
        if(composer == '' || composer == null)
        {
          error+='Composer is required\n';
        }
        if(genre == '' || genre == null)
        {
          error+='Genre is required\n';
        }
        if(duration == '' || duration == null)
        {
          error+='Duration is required\n';
        }
        if(instrument == '' || instrument == null)
        {
          error+='Instrument is required\n';
        }
        if(region == '' || region == null)
        {
          error+='Region is required\n';
        }
        if(social == '' || social == null)
        {
          error+='Social is required\n';
        }
        if(historical == '' || historical == null)
        {
          error+='Historical is required\n';
        }
        
        if(error != '')
        {
         swal({
          title: "Error",
          text: ""+error,
          type: "error",
          showCancelButton: true,
          confirmButtonClass: 'btn-danger',
        });
       }
       else
       {
         $('#addFolkMusic').submit();
       }
     }

function checkConfirm(id) {
    
    var rowId  = id;
    var y = confirm('Are you sure');
    if(y)
    {
        $.ajax({
        type: 'get', // Type of request to be send, called as method
        url: '/admin/tribe/master/traditionsDelete/music/'+rowId, //  Url to which the request is send
        dataType: 'json',
        success: function (responce) { // A function to be called if request succeeds.
          if(responce == 1){
              new Toasteur("top-right", 3000).success("Selected row Deleted Suceesfully", 'Success');
              $("#rowid_"+rowId).hide();
              setTimeout(function(){
                  window.location.reload(1);
              }, 3000);
          }else{
              new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
              setTimeout(function(){
                  window.location.reload(1);
              }, 3000);
          }
          }
        });
    }

}    
  </script>   
    

</html>