<!DOCTYPE html>
<html lang="en">
    
    <%- include('../../admin-layouts/top-header') %>
    <body class="hold-transition fixed sidebar-mini">
        <!-- Preloader -->
        <div class="preloader"></div>

        <div class="wrapper">
            <%- include('../../admin-layouts/header') %>
            
            <div class="content-wrapper">
				 
            	<div class="right_col" Food="main">
					<div class="row">
                        <div class="col-md-12">
							<div class="clearfix"></div>
                            <div class="panel panel-bd lobidrag">
                                
                                <div class="panel-body">
                                    <fieldset class="the-fieldset">
                                        <legend class="the-legend">Update Dress</legend>
                                        <form data-toggle="validator" method="post" action="/admin/masters/dress/edit/<%= dress.id %>"  style="padding-top: 23px">
                                            
                                            
                                            <div class="form-group">
                                                <label for="inputName" class="control-label">Dress Name</label>
                                                <input type="text" class="form-control" id="dress_name" name="dress_name" value="<%= dress.dress_name %>" placeholder="Enter department Name" required="">
                                            </div>
                                            
                                            <div class="help-block"></div>
                                            
                                            <div class="form-group">
                                                <label for="inputName" class="control-label">Dress Description</label>
                                                <textarea type="text" class="form-control" id="dress_description" name="dress_description" placeholder="Enter department Description" required=""><%= dress.dress_description %></textarea>
                                            </div>
                                            <div class="help-block"></div>

                                            <div class="form-group">
                                                <label for="inputName" class="control-label">Dress About</label>
                                                <input type="text" class="form-control" id="about_dress" name="about_dress" value="<%= dress.about_dress %>" placeholder="Enter department Name" required="">
                                            </div>
                                            <div class="help-block"></div>

                                         

                                            <div class="form-group">
                                                <label for="status" class="control-label">Status</label>
                                                <div class="radio_inline">
                                                    <div class="radio">
                                                        <input type="radio" name="status" value="1" id="toast" <%= dress.status === 1 ? 'checked' : '' %> required="">
                                                        <label for="toast">Active</label>
                                                    </div>
                                                    <div class="radio">
                                                        <input type="radio" name="status" value="0" id="boost" <%= dress.status === 0 ? 'checked' : '' %> required="">
                                                        <label for="boost">Inactive</label>
                                                    </div>
                                                    
                                                </div>
                                                   
                                                <div class="help-block"></div>
                                            </div>
                                           
                                            <div class="form-group pull-right">
                                                <button type="submit" class="btn btn-cap m-r-5">Submit</button>
                                                <button type="submit" class="btn btn-warning">Cancel</button>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
							    		
                            </div>
                        </div>

                    </div>
				</div>
               
            </div>
				<%- include('../../admin-layouts/footer') %>
        </div>
    </body>


</html>